kontor/Connected Services/HizliService/HizliService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HizliWebApp.Models.ECheck" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HizliWebApp.Models.ECheck" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Adisyon">
    <xs:sequence>
      <xs:element minOccurs="0" name="aciklamalar" nillable="true" type="tns:ArrayOfAciklamalar" />
      <xs:element minOccurs="0" name="adisyonBaslik" nillable="true" type="tns:AdisyonBaslik" />
      <xs:element minOccurs="0" name="adisyonKalem" nillable="true" type="tns:ArrayOfAdisyonKalemleri" />
      <xs:element minOccurs="0" name="aliciBilgileri" nillable="true" type="tns:AliciBilgileri" />
      <xs:element minOccurs="0" name="aliciTanitici" nillable="true" type="tns:ArrayOfTanitici" />
      <xs:element minOccurs="0" name="indirimArtirim" nillable="true" type="tns:ArrayOfIndirimArtirim" />
      <xs:element minOccurs="0" name="saticiTanitici" nillable="true" type="tns:ArrayOfTanitici" />
      <xs:element minOccurs="0" name="toplamVergiler" nillable="true" type="tns:ArrayOfVergi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adisyon" nillable="true" type="tns:Adisyon" />
  <xs:complexType name="ArrayOfAciklamalar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aciklamalar" nillable="true" type="tns:Aciklamalar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAciklamalar" nillable="true" type="tns:ArrayOfAciklamalar" />
  <xs:complexType name="Aciklamalar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aciklama" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aciklamalar" nillable="true" type="tns:Aciklamalar" />
  <xs:complexType name="AdisyonBaslik">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdisyonRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adisyon_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adisyon_Tarihi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adisyon_Tipi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Adisyon_Zamani" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AliciRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Alici_Adi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Doviz_Kuru" type="xs:decimal" />
      <xs:element minOccurs="0" name="ETTN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErpRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gonderim_Sekli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MalHizmetTutari" type="xs:decimal" />
      <xs:element minOccurs="0" name="Masa_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OdenecekTutar" type="xs:decimal" />
      <xs:element minOccurs="0" name="OnEk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Para_Birimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senaryo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Siparis_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Siparis_Tarih" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sistem_Kullanici" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubeKodu" type="xs:int" />
      <xs:element minOccurs="0" name="Tckn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Teslim_Tarih" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToplamIskonto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ToplamMasraf" type="xs:decimal" />
      <xs:element minOccurs="0" name="UpdateDocument" type="xs:boolean" />
      <xs:element minOccurs="0" name="VergiDahilTutar" type="xs:decimal" />
      <xs:element minOccurs="0" name="VergiHaricTutar" type="xs:decimal" />
      <xs:element minOccurs="0" name="XSLT_Adi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdisyonBaslik" nillable="true" type="tns:AdisyonBaslik" />
  <xs:complexType name="ArrayOfAdisyonKalemleri">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdisyonKalemleri" nillable="true" type="tns:AdisyonKalemleri" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdisyonKalemleri" nillable="true" type="tns:ArrayOfAdisyonKalemleri" />
  <xs:complexType name="AdisyonKalemleri">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alici_Mal_Kodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birim_Fiyat" type="xs:decimal" />
      <xs:element minOccurs="0" name="KalemRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mal_Aciklamasi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mal_Adi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManuelAdisyonBirim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Miktar" type="xs:decimal" />
      <xs:element minOccurs="0" name="Satici_Mal_Kodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Satir_Notu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiraNo" type="xs:int" />
      <xs:element minOccurs="0" name="Tutari" type="xs:decimal" />
      <xs:element minOccurs="0" name="indirimArtirimlar" nillable="true" type="tns:ArrayOfIndirimArtirim" />
      <xs:element minOccurs="0" name="kalemTanitici" nillable="true" type="tns:ArrayOfTanitici" />
      <xs:element minOccurs="0" name="kalemVergiler" nillable="true" type="tns:ArrayOfVergi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdisyonKalemleri" nillable="true" type="tns:AdisyonKalemleri" />
  <xs:complexType name="ArrayOfIndirimArtirim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndirimArtirim" nillable="true" type="tns:IndirimArtirim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndirimArtirim" nillable="true" type="tns:ArrayOfIndirimArtirim" />
  <xs:complexType name="IndirimArtirim">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aciklama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndirimArtirimTur" type="xs:boolean" />
      <xs:element minOccurs="0" name="Matrah" type="xs:decimal" />
      <xs:element minOccurs="0" name="Oran" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tutar" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndirimArtirim" nillable="true" type="tns:IndirimArtirim" />
  <xs:complexType name="ArrayOfTanitici">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tanitici" nillable="true" type="tns:Tanitici" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTanitici" nillable="true" type="tns:ArrayOfTanitici" />
  <xs:complexType name="Tanitici">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaniticiDeger" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaniticiKod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tanitici" nillable="true" type="tns:Tanitici" />
  <xs:complexType name="ArrayOfVergi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vergi" nillable="true" type="tns:Vergi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVergi" nillable="true" type="tns:ArrayOfVergi" />
  <xs:complexType name="Vergi">
    <xs:sequence>
      <xs:element minOccurs="0" name="IstisnaAciklama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IstisnaKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matrah" type="xs:decimal" />
      <xs:element minOccurs="0" name="Oran" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tutar" type="xs:decimal" />
      <xs:element minOccurs="0" name="VergiAciklama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VergiKodu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vergi" nillable="true" type="tns:Vergi" />
  <xs:complexType name="AliciBilgileri">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adres_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AliciRef" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bina_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cadde" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Daire_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="E_Posta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Faks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Il" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ilce" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Internet_Sitesi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kisi_Adi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kisi_Soyadi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManuelCityAndSubdivision" type="xs:boolean" />
      <xs:element minOccurs="0" name="Posta_Kodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Semt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tckn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ulke_Adi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ulke_Kodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unvani" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vergi_Dairesi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AliciBilgileri" nillable="true" type="tns:AliciBilgileri" />
</xs:schema>